---
import Footer from "../components/sections/Footer";
import { SEO } from "astro-seo";

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<SEO
			title={title}
			description="Rødseth Consulting: Innovative løsninger for fremtiden."
			charset="UTF-8"
		/>
		<meta
			name="keywords"
			content={`
magnus, rødseth, magnus rødseth, consulting, rødseth consulting, rødseth consulting as, software, development, 
software development, software consulting, software development consulting, 
software development consultant, software consultant, software development consultant,
web development, web development consulting, web development consultant, web consultant, web development consultant,
systemsoft, systemsoft as,
oslo, trondheim, norway, norge, norwegian, norwegian software developer, norwegian software development,
junior, junior consulting, junior consulting as, jrc, jrc as, junior software developer, junior software development,
web developer, web development, fullstack, fullstack developer, fullstack development, fullstack web developer,
søbekkseter, været på søbekkseter, portfolio, portfolio website, portfolio nettside, portfolio nettside,
software architect, software architecture, software architect consultant, software architecture consultant,
system developer, system development, system developer consultant, system development consultant,
automate, automation, python, rust, javascript, typescript, react, reactjs, react.js, nextjs, next.js,
counseling
		`.replace(/\s+/g, ",")}
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<div class="bg-gray-900">
			<main>
				<slot />
			</main>
		</div>

		<Footer />
		<style is:global>
			html {
				font-family: system-ui, sans-serif;
				@apply bg-gray-900 scroll-smooth scroll-p-16;
			}
		</style>
	</body>
</html>
